{% extends "base.html" %}
{% block title %}Poster Page{% endblock %}

{% block content %}

<h3 class="mt-5 mb-3 d-flex align-items-center justify-content-between">
  <span>Past Posters</span>
</h3>
<div id="past-poster-container" class="vstack gap-3 mb-5">
</div>

<h3 class="mt-5 mb-3 d-flex align-items-center justify-content-between">
  <span>Upcoming Posters</span>
</h3>
<div id="upcoming-poster-container" class="vstack gap-3">
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/poster-presentation.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
